<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Chat</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><div class="btn-group">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> <span id="username">Guest</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="" id="edit-user-info" data-target="#user-information" data-toggle="modal">Edit User Information</a></li>
                </ul>
              </div></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span9">
          <% if notice %>
            <div class="notice"><%= notice %></div>
          <% elsif alert %>
            <div class="alert"><%= alert %></div>
          <% end %>
          <%= yield %>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <h3>Users</h3>
            <ul class="nav nav-list" id="user-list">
              <li class="nav-header">Active</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/content-->
  <div id="footer">
  </div>
</div> <!-- /container -->


  </body>
</html>
